<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        404 - Page Not Found
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="../css/build.css" />

</head>
<body>
    <%- include(navigation.template, {navigation}) -%>

    <div style="display:flex;flex-direction:column;align-items:center;margin-top:40px;">
        <div>
            <p class="h1" >Page Not Found</p>
        </div>
        <div>
            <p class="h3">Click <a href="../<%= defaultfolder %>/<%= homepageurl %>">here</a> to go to home page</p>
        </div>
    </div>

</body>
</html>