<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        404 - Page Not Found
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/10.10.2/build.css" />

</head>
<body>
    <%- include(navigation.template, {navigation}) -%>

    <div class="container-lg clearfix">
        <p class="h1">Page Not Found</p> 
        <p class="h3">Click <a href="../<%= defaultfolder %>/<%= homepageurl %>">here</a> to go to gome page</p>
        <img src="../assets/logo.png" alt="Page not found" width="200" height="200"/>
    </div>

</body>
</html>