<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= main.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="../css/build.css" />

</head>
<body>
    <%- include(navigation.template, {navigation}) -%>

    <div class="container-lg clearfix">
        <div class="col-3 float-left p-3">
                <%- include(wiki.template, {wiki, wikiContents}) -%>
        </div>
        <div class="col-9 float-left p-3">
                <%- include(content.template, {pageTitle, pageContent}); -%>
        </div>
    </div>

</body>
</html>